In [2]:
# Import modules
import pandas as pd
import numpy as np
import datetime as dt
%matplotlib inline

In [6]:
# Read whale_returns.csv data into DataFrame
whl_df = pd.read_csv ('Resources/whale_returns.csv')

# Count null values in whale_returns.csv
whl_df.isnull()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,False,True,True,True,True
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
1055,False,False,False,False,False
1056,False,False,False,False,False
1057,False,False,False,False,False
1058,False,False,False,False,False
1059,False,False,False,False,False